
.containerGeral{
    background: rgb(255, 255, 255);
    flex:0 0 auto;
    width: 100%;
    word-wrap:break-word; 
    white-space:normal;

    display:flex;
    flex-wrap: wrap;
}
.ReturnMap{
    flex:0 0 auto;
    // width: 20%;
    width: 269.8px;
}
.Col{
    background:rgb(231, 231, 231);
    border: solid 1px rgb(155, 155, 155);
}

.container{
    width: 100%;
    cursor: pointer;
    div{
        background: transparent;
        img{
            margin-top: 2rem;
            margin-bottom: 0.5rem;
            width: 40%;
        }
    }
    p{  
        height:20px;
        font-size:12px;
        font-weight: 600;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.quebrandoLinhas{
    p{
        background: rgb(231, 231, 231);
        margin-bottom: 3px;
    }
}

//----------------------------------------------//

